/* Estilos base */
body {
    transition: background-color 0.4s, color 0.4s;
    scroll-behavior: smooth; /* Animación de desplazamiento automática */
}

/* Clase para Modo Oscuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .bg-light {
    background-color: #1e1e1e !important;
    color: white;
}

body.dark-mode .card {
    background-color: #2c2c2c;
    color: white;
    border-color: #444;
}

/* Animación simple al pasar el mouse por las tarjetas */
.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}